@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes floatGlow {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-40px) translateX(20px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.float-glow {
  animation: floatGlow 12s ease-in-out infinite;
}